/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:root {
	--table-left-line-top-position: 20%;
	--table-line: 1px solid #888
}

.table-row-line-top {
	position: relative;
}
.table-row-line-top:before {
	position: absolute;
	content: '';
	border: var(--table-line);
	height: 48px;
	top: 0;
	left: 50%;
}

.table-row-line-bottom {
	position: relative;
}
.table-row-line-bottom::before {
	position: absolute;
	content: '';
	border: var(--table-line);
	height: 64px;
	bottom: 0;
	left: 50%;
}

.table-line {
	position: relative;
}
.table-line::before {
	position: absolute;
	content: '';
	border: var(--table-line);
	height: 100%;
	top: 0;
	left: 50%;
}

.table-line-left {
	position: relative;
}
.table-line-left::after {
	position: absolute;
	content: '';
	border: var(--table-line);
	width: 50%;
	top: var(--table-left-line-top-position);
	left: 50%;
}

.table-line-root-child {
	position: relative;
}
.table-line-root-child::before {
	position: absolute;
	content: '';
	border: var(--table-line);
	height: 100%;
	top: 0;
	left: 50%;
}
.table-line-root-child::after {
	position: absolute;
	content: '';
	border: var(--table-line);
	width: 50%;
	top: var(--table-left-line-top-position);
	left: 50%;
}

.table-line-last-child {
	position: relative;
}
.table-line-last-child::before {
	position: absolute;
	content: '';
	border: var(--table-line);
	height: var(--table-left-line-top-position);
	top: 0;
	left: 50%;
}
.table-line-last-child::after {
	position: absolute;
	content: '';
	border: var(--table-line);
	width: 175px;
	top: var(--table-left-line-top-position);
	left: 50%;
}